@charset "UTF-8";
@import url("./Reset.css");
@import url("https://fonts.googleapis.com/css?family=Tinos:regular,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Courgette:regular&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,500,600&display=swap&subset=cyrillic-ext");
body {
  background-color: #ebdcb2;
  height: 100%;
}

* a {
  color: #2b1913;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
}

.wrapper {
  background-color: #c9a66b;
  margin: 0 auto;
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 20px 8px #662e1c;
          box-shadow: 0px 0px 20px 8px #662e1c;
  padding: 0 15px;
}

.header {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Courgette", cursive;
  position: relative;
}
.header__title {
  font-size: 60px;
  margin: 25px 0 20px 0;
}
.header__data {
  font-size: 20px;
  line-height: 1.2;
}
.header__proffesion {
  margin: 15px 0;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
}
.header__proffesion::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  top: -10px;
  display: block;
  width: 60px;
  height: 4px;
  border-radius: 40%;
  background-color: #662e1c;
  -webkit-box-shadow: 0px 0px 8px 0.5px #af4425;
          box-shadow: 0px 0px 8px 0.5px #af4425;
}
.header__discripton {
  margin: 0 -15px;
  padding: 25px 18%;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 1px;
  text-shadow: 0px 0.5px 10px rgba(59, 31, 22, 0.6);
  border-top: 2.5px solid rgba(59, 31, 22, 0.8);
  border-bottom: 2.5px solid rgba(59, 31, 22, 0.8);
  -webkit-box-shadow: inset 0px 0px 20px 8px #3b1f16;
          box-shadow: inset 0px 0px 20px 8px #3b1f16;
}

.discripton__awards {
  font-family: "Courgette", cursive;
  font-size: 20px;
  margin: 10px 0;
}
.discripton__awards-list {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
}
.discripton__awards-list-item {
  line-height: 1.3;
  text-decoration: underline;
}
.discripton__awards-list-item:nth-child(1):hover::before {
  content: "Cогласно завещанию американского издателя, журналиста Джозефа Пулитцера премия вручается за произведения, созданные американскими авторами в области журналистики, литературы, музыки и театра. На Пулитцеровскую премию по литературе могут претендовать только американские авторы.";
  font-size: 14px;
  position: absolute;
  background-color: rgba(175, 68, 37, 0.8);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  bottom: 10px;
  padding: 8px;
  margin: 0 0 0 200px;
  border-radius: 25px;
}
.discripton__awards-list-item:nth-child(2):hover::before {
  content: "Премия Банкарелла (Premio Bancarella) - старейшая итальянская национальная литературная премия за лучшую книгу. Учреждена в 1953 году в Мулаццо, в тени башни Данте Алигьери. Позже переехала в соседний город Понтремоли региона Тоскана. С 1964 года премия вручается также в номинации Спорт. Среди претендентов на получение премии выбирается шесть финалистов. Затем определяется победитель, чье имя объявляется только на торжественной церемонии. Премия вручается ежегодно в предпоследние выходные июля в городке Понтремоли в Тоскане. Лауреат получают художественную керамику с изображением  S.Giovanni di Dio, испанского святого, который большую часть своей жизни был продавцом книг.";
  font-size: 14px;
  position: absolute;
  background-color: rgba(175, 68, 37, 0.8);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px;
  bottom: -15px;
  margin: 0 0 0 200px;
  border-radius: 25px;
}
.discripton__awards-list-item:nth-child(3):hover::before {
  content: "Ежегодно вручаемая Нобелевским фондом за достижения в области литературы. Одна из пяти премий, созданных по воле Альфреда Нобеля в 1895 году, которая вручается с 1901 года. Эта награда находится в ведении Нобелевского фонда и считается самой престижной наградой в литературе.";
  font-size: 14px;
  position: absolute;
  background-color: rgba(175, 68, 37, 0.8);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px;
  bottom: -15px;
  margin: 0 0 0 200px;
  border-radius: 25px;
}

.main__photo {
  margin: 0 -15px;
  border-top: 2.5px solid rgba(59, 31, 22, 0.8);
  border-bottom: 2.5px solid rgba(59, 31, 22, 0.8);
  -webkit-box-shadow: inset 0px 0px 20px 8px #3b1f16;
          box-shadow: inset 0px 0px 20px 8px #3b1f16;
  background-color: #e9d396;
}
.main__photo-link {
  width: 300px;
  height: 300px;
  position: relative;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin: 50px auto 20px;
  -webkit-box-shadow: 0 0 10px 5px rgba(43, 25, 19, 0.8);
          box-shadow: 0 0 10px 5px rgba(43, 25, 19, 0.8);
}
.main__photo-link img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__photo-discription {
  max-width: 75%;
  margin: 0 auto 30px;
  text-align: center;
  font-family: "Tinos", serif;
  font-weight: 700;
  font-size: 14px;
  color: #662e1c;
}
.main__list {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 500;
}
.main__list li {
  position: relative;
  margin: 0 40px 10px 20px;
}
.main__list li::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 40%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -15px;
  width: 5px;
  height: 5px;
  background-color: #af4425;
}
.main__list li span {
  font-size: 20px;
  font-weight: 600;
}
.main__list-title {
  font-family: "Courgette", cursive;
  font-size: 25px;
  font-weight: 700;
  color: #441e11;
  text-shadow: 2px 2px 2px #662e1c;
  margin: 20px 0;
  text-align: center;
}
.main__list-subtitle {
  font-family: "Courgette", cursive;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

.footer {
  margin: 20px -15px;
  border-top: 2.5px solid #3b1f16;
}
.footer__link {
  font-family: "Tinos", serif;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  margin: 20px 80px 0 0;
}