* {
	margin: 0;
	padding: 0;
}
#targetElement {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: radial-gradient(
		circle,
		rgba(141, 35, 15, 1) 0%,
		rgba(0, 0, 0, 1) 72%,
		rgba(155, 79, 15, 1) 82%,
		rgba(30, 67, 76, 1) 100%
	);
}
.container {
	width: 20%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #111;
	border-radius: 65px;
	box-shadow: 0 0 25px 2px #110b38;
	&__name {
		color: azure;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 5px;
			right: -40px;
			width: 15px;
			height: 15px;
			border-right: 4px solid azure;
			border-bottom: 4px solid azure;
			transform: rotate(45deg);
		}
	}
	&__button {
		margin: 10px 25px 0 0;
		background: #966b6b;
		padding: 10px 20px;
		font-weight: 700;
		border-radius: 25px;
		align-self: end;
		cursor: pointer;
		transition: all 0.2s ease;
		&:hover {
			box-shadow: inset 0 0 10px 1px #110b38;
			transform: scale(0.95);
		}
	}
}
