@import url("/css/Reset.css");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:regular,700,900");

$text-color: #004445;
$back-input-color: #d9faeb;
body {
	width: 100%;
	height: 100%;
	background: radial-gradient(
			circle,
			rgba(111, 185, 143, 1) 20%,
			rgba(23, 96, 93, 1) 64%,
			rgba(0, 68, 69, 1) 80%,
			rgba(2, 28, 30, 1) 97%
		)
		no-repeat center fixed;
	color: #021c1e;
	font-family: "Inconsolata", monospace;
}
.wrapper {
	max-width: 700px;
	margin: 0 auto;
	padding: 25px 15px;
}
.form {
	background-color: #6fb98f;
	box-shadow: 0px 0px 3px 1px #6fb98f;
	border-radius: 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	&:hover {
		animation: pulse 1.5s infinite;
		@keyframes pulse {
			0% {
				box-shadow: 0 0 0 0 rgba($color: #6fb98f, $alpha: 0.8);
			}
			70% {
				box-shadow: 0 0 7px 10px rgba($color: #6fb98f, $alpha: 0);
			}
			100% {
				box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
			}
		}
	}
	&__title {
		text-align: center;
		background-color: #2c7873;
		h1 {
			margin: 35px 0;
			font-size: 27px;
			letter-spacing: 1px;
			font-weight: 900;
			text-shadow: 0px 2px 5px #004445;
		}
	}
	&__body {
		padding: 25px 15px 20px;
		display: flex;
		flex-direction: column;
	}
	&__line {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 20px;
	}
	&__line-item {
		flex: 1 1 310px;
		padding: 15px 0 0;
		position: relative;
	}
	&__line-box {
		width: 100%;
		height: 35px;
		padding: 0 0 0 10px;
		border-radius: 10px;
		font-weight: 600;
		font-size: 15px;
		background-color: $back-input-color;
		&:focus {
			border: 2px solid rgba($color: #021c1e, $alpha: 0.8);
			box-shadow: 0 0 5px 1px rgba($color: #021c1e, $alpha: 0.6);
		}
	}
	&__line-title {
		color: $text-color;
		font-weight: 700;
		font-size: 20px;
		margin: 0 0 4px 8px;
	}
	&__line-subtitle {
		font-size: 17px;
		font-weight: 600;
		color: $text-color;
		margin: 0 10px 0 5px;
	}
	&__line-container {
		display: flex;
		label {
			display: flex;
		}
	}
	.income {
		width: 100%;
		height: 30px;
		padding: 0 0 0 10px;
		border-radius: 10px;
		font-weight: 600;
		font-size: 13px;
		border-top: 2px solid #021c1e;
		background-color: $back-input-color;
		color: $text-color;
		cursor: pointer;
	}
	&__line-slider {
		width: 75%;
		-webkit-appearance: none;
		height: 5px;
		border-radius: 5px;
		background-color: #d9faeb;
		box-shadow: inset 0 0 4px rgba($color: #000000, $alpha: 0.6);
	}
	&__line-slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 8px;
		height: 20px;
		border-radius: 50%;
		background-color: #51c9c1;
		border: 1px solid rgba($color: #08464b, $alpha: 0.6);
		box-shadow: inset 0 0 20px rgba($color: #021c1e, $alpha: 0.6);
	}
	&__line-value {
		position: absolute;
		top: 50%;
		right: 10px;
		height: 30px;
		font-weight: 700;
		font-size: 17px;
		background-color: #d9faeb;
		border-top: 2px solid #021c1e;
		padding: 4px 8px;
		border-radius: 25px;
		&::after {
			content: "K";
			margin: 0 0 0 5px;
		}
	}
	.age {
		width: 75%;
		height: 30px;
		padding: 0 10px;
		border-radius: 10px;
		font-weight: 600;
		font-size: 16px;
		border-top: 2px solid #021c1e;
		background-color: $back-input-color;
		color: $text-color;
		cursor: pointer;
	}
	.bio {
		height: 80px;
		padding: 5px 10px;
		border-radius: 10px;
		font-weight: 600;
		font-size: 16px;
		background-color: $back-input-color;
		border-top: 2px solid #021c1e;
		border-bottom: 2px solid #021c1e;
		color: $text-color;
		resize: none;
	}
	&__submit {
		text-align: center;
		background-color: #2c7873;
		gap: 15px;
	}
	&__submit-input {
		width: 100px;
		height: 35px;
		margin: 30px 0;
		color: $text-color;
		font-size: 20px;
		font-weight: 600;
		border: 2px solid #004445;
		background-color: $back-input-color;
		transition: all 0.8s ease;
		&:first-child {
			border-radius: 0 30px 0 30px;
		}
		&:last-child {
			border-radius: 30px 0 30px 0;
		}
		&:hover {
			transform: scale(1.1);
			border-radius: 30px;
		}
	}
}
